<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th class="col-9">Requirement Detail</th>
            <th class="col-3">Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let requirement of requirementList?.items, let i = index">
            <td class="col-9">
                <span class="text-decoration-none">
                    {{ requirement?.detail }}
                </span>
            </td>
            <td>
                <button 
                    [routerLink]="'/requirement/' + requirement?.id" 
                    class="btn btn-primary">
                    <fa-icon [icon]="faPenNib"></fa-icon>
                </button>
                <button 
                    (click)="deleteRequirement(requirement?.id)"
                    class="btn mx-1 btn-danger">
                    <fa-icon [icon]="faTrashCan"></fa-icon>
                </button>
            </td>
        </tr>
        <tr>
            
        </tr>
    </tbody>
</table>