<div class="container mt-3">
  <div class="row">
    
    <div class="col-md-3">
      <div class="list-group">
          <button *ngFor="let section of sectionList, let i = index" class="list-group-item list-group-item-action btn-lg text-center active"
          [class.active]="activeItem === section?.id"
          routerLink="/admin/{{section?.link}}"
          (click)="setActiveItem(section.id)">
              <i class="bi bi-person-fill"></i> {{section?.name}}
            </button>
      </div>
    </div>

    <div class="col-md-9">
      <div>
        <div class="card mb-3">
          <div class="card-body">
            <router-outlet></router-outlet>
            <!-- <ng-container *ngIf="currentComponent">
              <ng-container *ngComponentOutlet="currentComponent"></ng-container>
            </ng-container> -->
          </div>
        </div>
      </div>
    
  </div>
</div>


