<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th class="col-9">Vacancy Title</th>
            <th class="col-3">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vacancy of vacancyList?.items; let i = index">
            <td col-9>
                <span class="text-decoration-none">
                    {{ vacancy?.title }}
                </span>
            </td>
            <td col-3>
               <button 
                    [routerLink]="'/admin/vacancy/edit/' + vacancy?.id" 
                    class="btn btn-primary">
                    <fa-icon [icon]="faPenNib"></fa-icon>
                </button>
                 <button 
                    (click)="deleteVacancy(vacancy?.id)"
                    class="btn mx-1 btn-danger">
                    <fa-icon [icon]="faTrashCan"></fa-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="errorMessages">
            <td colspan="3" class="text-center text-danger">
                <strong>Error:</strong> {{ errorMessages }}
            </td>
        </tr>

        <tr>
            <td colspan="3" class="text-center text-danger">
                <button 
                    [routerLink]="'/admin/vacancy/create'"
                    class="btn mx-1 btn-success px-5">
                    <fa-icon [icon]="faPenNib"></fa-icon>
                </button>
            </td>
        </tr>
        
    </tbody>
</table>
